WEB_CLIENTE/Web References/InterfazCavali.InputService04002/WS_Dim_04002_Registrar_facturas_XML.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://cesion.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s1="http://cavali.com.pe/ib/esb/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s2="http://cavali.com.pe/ib/esb/srv04002" xmlns:s3="http://cavali.com.pe/ib/esb" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://cesion.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://cesion.org/">
      <s:import namespace="http://cavali.com.pe/ib/esb/" />
      <s:import namespace="http://cavali.com.pe/ib/esb/srv04002" />
      <s:element name="RegistrarFacturasXml">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cabecera" type="s1:CABECERA_Type" />
            <s:element minOccurs="0" maxOccurs="1" name="consumidor" type="s2:Consumer_Type" />
            <s:element minOccurs="0" maxOccurs="1" name="proceso" type="s2:ProcessDetail_Type" />
            <s:element minOccurs="0" maxOccurs="1" name="invoice" type="tns:ArrayOfInvoiceXML_Type" />
            <s:element minOccurs="0" maxOccurs="1" name="usuario" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfInvoiceXML_Type">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="InvoiceXML_Type" nillable="true" type="s2:InvoiceXML_Type" />
        </s:sequence>
      </s:complexType>
      <s:element name="RegistrarFacturasXmlResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RegistrarFacturasXmlResult" type="s2:MENSAJERES_Type" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://cavali.com.pe/ib/esb/">
      <s:complexType name="CABECERA_Type">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="COD_SERVICIO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="APP_CONSUMIDORA" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://cavali.com.pe/ib/esb/srv04002">
      <s:import namespace="http://cavali.com.pe/ib/esb" />
      <s:complexType name="Consumer_Type">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="type" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="participantCode" type="s:integer" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="ruc" type="s:integer" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ProcessDetail_Type">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="processNumber" type="s:integer" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="InvoiceXML_Type">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="fileXml" type="s:base64Binary" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="additionalField1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="additionalField2" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="MENSAJERES_Type">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="INTEGRES" type="s2:INTEGRACIONRES_Type" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="INTEGRACIONRES_Type">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="CABECERA" type="s3:CABECERARes_Type" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="DETALLE" type="s2:DETALLERes_Type" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DETALLERes_Type">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="DATOS" type="s2:DATOSRes_Type" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DATOSRes_Type">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="addInvoiceXMLResponse" type="s2:AddInvoiceXMLResponse_Type" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="AddInvoiceXMLResponse_Type">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="addInvoiceXMLResponseDetail" type="s2:AddInvoiceXMLResponseDetail_Type" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="AddInvoiceXMLResponseDetail_Type">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="idProceso" type="s:integer" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="resultCode" type="s:integer" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="message" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://cavali.com.pe/ib/esb">
      <s:complexType name="CABECERARes_Type">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="COD_SERVICIO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="APP_CONSUMIDORA" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="TIP_RESPUESTA" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="COD_RESPUESTA" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="DES_RESPUESTA" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="RegistrarFacturasXmlSoapIn">
    <wsdl:part name="parameters" element="tns:RegistrarFacturasXml" />
  </wsdl:message>
  <wsdl:message name="RegistrarFacturasXmlSoapOut">
    <wsdl:part name="parameters" element="tns:RegistrarFacturasXmlResponse" />
  </wsdl:message>
  <wsdl:portType name="WS_Dim_04002_Registrar_facturas_XMLSoap">
    <wsdl:operation name="RegistrarFacturasXml">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Servicio 04002</wsdl:documentation>
      <wsdl:input message="tns:RegistrarFacturasXmlSoapIn" />
      <wsdl:output message="tns:RegistrarFacturasXmlSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WS_Dim_04002_Registrar_facturas_XMLSoap" type="tns:WS_Dim_04002_Registrar_facturas_XMLSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RegistrarFacturasXml">
      <soap:operation soapAction="http://cesion.org/RegistrarFacturasXml" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WS_Dim_04002_Registrar_facturas_XMLSoap12" type="tns:WS_Dim_04002_Registrar_facturas_XMLSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RegistrarFacturasXml">
      <soap12:operation soapAction="http://cesion.org/RegistrarFacturasXml" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WS_Dim_04002_Registrar_facturas_XML">
    <wsdl:port name="WS_Dim_04002_Registrar_facturas_XMLSoap" binding="tns:WS_Dim_04002_Registrar_facturas_XMLSoap">
      <soap:address location="http://localhost:62784/WS_Dim_04002_Registrar_facturas_XML.asmx" />
    </wsdl:port>
    <wsdl:port name="WS_Dim_04002_Registrar_facturas_XMLSoap12" binding="tns:WS_Dim_04002_Registrar_facturas_XMLSoap12">
      <soap12:address location="http://localhost:62784/WS_Dim_04002_Registrar_facturas_XML.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>